<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>SSE Probe</title>
</head>
<body>
<div class="MainU">
<div class="HeaderL"><h2>TEST2 (UNAUTHORIZED)</h2>
    <p>
    <h2>Привет</h2>
    <h4>Вы не авторизованы, {{ name }},<br>
    и не получаете данные от сервера.<br>
    </h4>
    </div>												
<a href="https://github.com/login/oauth/authorize?client_id=" class="btn">Авторизация Github</a>
</div>									<!-- после client_id=   разместить строку из github (см. Readme.md) -->
</body>
</html>
